@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Nunito:wght@200;400&family=Raleway+Dots&display=swap');
  .login{
    width: 25vw;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 15px ;

}
/* h2{
    text-align: center;
    color: #FF395A;
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
}
label{
  color: #FF395A;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
} */
/* #Uname{
    width: 18vw;
    height: 2.5vw;
    border: 1px solid;
    padding-left: 8px;
} */
/* #Pass{
    width: 18vw;
    height: 2.5vw;
    border: 1px solid;
    padding-left: 8px;

}
#pass{
  height: 3vw;
  width: 10vw;
  border: 1px solid */
/* } */
#log{
  height: 2.7vw;
  width: 23vw;
  background-color:#FF395A;
  border: none;
  border-radius: 2px;
  padding-left: 7px;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  margin: auto;
}

/* .reset-link {
    text-decoration: none;
    color: #FF395A;
    margin-left: -1vw;
    font-family: 'Nunito', sans-serif;
  } */
  form{
    padding-left: 20px;
}
.login-title {
    font-family: 'Nunito';
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
}
.form-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    color: #ff395a !important;

}