<img src="../assets/image/logo.png" width="150px" height="80px" style="margin-left: -0.5vw; margin-top: -0.5vw">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha384-d7I10m3O5K4f6KI7s5dBx9z8VJ8CQ5tg7Ll3x2wF6aR6ot1FkN4O3c5O2wqq5xi5N"
  crossorigin="anonymous"
/>
<br><br><br>
<div class="form-head">
  <h1 class="login-title">RESET PASSWORD</h1>
  </div>
<div class="login">
  <form id="login" [formGroup]="resetForm">
    <mat-label class="form-title">Login ID</mat-label>
    <mat-form-field appearance="outline" style="width: 100%;margin-top: 6px;">
      <mat-label>name@gmail.com</mat-label>
      <input matInput formControlName="emailid" />
      <mat-error *ngIf="resetForm.controls['emailid']?.['touched']">
        <span *ngIf="resetForm.controls['emailid']?.['errors']?.['required']">
          Please Enter Email Id
        </span>
        <span *ngIf="resetForm.controls['emailid']?.['errors']?.['email']">
          Please Enter Valid Email Id
        </span>
      </mat-error>
    </mat-form-field>

    <!-- <label>Email</label> <br>
    <input type="text" name="Uname" id="Uname" matInput placeholder="name@gmail.com" formControlName="emailid" required >
    <br><br>
   <div *ngIf="resetForm.controls['emailid']?.['touched']">
   <div *ngIf="resetForm.controls['emailid']?.['errors']?.['email']">
        -Please Enter Valid Email Id
   </div>
  </div> -->
    <button type="submit" name="log" id="log"  type="submit" [disabled]="!resetForm.valid"  (click)="reset()">Reset</button>
    <br><br>
    <br><br>
  </form>
</div>


<button id="logg" mat-button routerLink="/" style="text-decoration: underline; color: #FF395A;">
  <mat-icon style=" font-size: 20px; color: #FF395A;">arrow_back</mat-icon  > Back to Login
</button>
