    @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Nunito:wght@200;400&family=Raleway+Dots&display=swap');
  
  html, body {
      overflow: hidden;
      height: 100%;
      margin: 0;
      padding: 0;
  }
  
  .verification-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f0f0f0;
  }
  
  h1 {
      text-align: center;
      color: #FF395A;
      font-family: 'Nunito', sans-serif;
      font-size: 45px;
      margin-bottom: 20px;
  }
  
  p {
      text-align: center;
      color: #FF395A;
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
  }
  .reg {
      text-decoration: none;
      color: #FF395A;
      font-family: 'Nunito', sans-serif;
  
    }